click==8.1.7
colorama==0.4.6
commonmark==0.9.1
dbworkload==0.6.5
Jinja2==3.1.4
kafka-python==2.1.4
MarkupSafe==3.0.2
neo4j==5.28.1
numpy==1.26.4
packaging==24.1
pandas==1.5.3
parse==1.20.2
plotext==5.3.2
plotly==5.24.1
polars==1.19.0
polars-u64-idx==1.19.0
prometheus-client==0.15.0
psycopg==3.2.3
psycopg-binary==3.2.3
Pygments==2.18.0
pytdigest==0.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
randomtimestamp==2.2
rich==12.6.0
shellingham==1.5.4
six==1.16.0
sqlparse==0.5.1
tabulate==0.9.0
tenacity==9.0.0
typer==0.7.0
typing_extensions==4.12.2
