# Prometheus configuration for cockroach clusters.
# Requires prometheus 2.X
#
# Run with:
# $ prometheus -config.file=prometheus.yml
global:
  scrape_interval: 10s
  evaluation_interval: 10s

rule_files:
- "rules/alerts.rules.yml"
- "rules/aggregation.rules.yml"

# Alert manager running on the same host:
alerting:
  alertmanagers:
  - path_prefix: "/alertmanager/"
    static_configs:
    - targets:
      - ec2-3-17-142-130.us-east-2.compute.amazonaws.com:9093

scrape_configs:
  - job_name: 'cockroachdb'
    metrics_path: '/_status/vars'
    # Insecure mode:
    scheme: 'https'
    # Secure mode:  
    # scheme: 'https'
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets:
          - aks.auracoda.com
          - gke.auracoda.com
          - rosa.auracoda.com
        labels:
          cluster: opencoreos 

  # - job_name: 'dbworkload_aks'
  #   # metrics_path: '/'
  #   # Insecure mode:
  #   scheme: 'http'
  #   # Secure mode:
  #   # scheme: 'https'
  #   tls_config:
  #     insecure_skip_verify: true
  #   static_configs:
  #   - targets:
  #     - '172.31.24.53:26260'
  #     labels:
  #       cluster: 'homogeneous'


  # - job_name: 'dbworkload_homogeneous_olap'
  #   # metrics_path: '/'
  #   # Insecure mode:
  #   scheme: 'http'
  #   # Secure mode:
  #   # scheme: 'https'
  #   tls_config:
  #     insecure_skip_verify: true
  #   static_configs:
  #   - targets:
  #     - '172.31.24.53:26261'
  #     labels:
  #       cluster: 'homogeneous'


  # - job_name: 'dbworkload_heterogeneous_oltp'
  #   # metrics_path: '/'
  #   # Insecure mode:
  #   scheme: 'http'
  #   # Secure mode:
  #   # scheme: 'https'
  #   tls_config:
  #     insecure_skip_verify: true
  #   static_configs:
  #   - targets:
  #     - '172.31.24.53:26262'
  #     labels:
  #       cluster: 'heterogeneous'


  # - job_name: 'dbworkload_heterogeneous_olap'
  #   # metrics_path: '/'
  #   # Insecure mode:
  #   scheme: 'http'
  #   # Secure mode:
  #   # scheme: 'https'
  #   tls_config:
  #     insecure_skip_verify: true
  #   static_configs:
  #   - targets:
  #     - '172.31.24.53:26263'
  #     labels:
  #       cluster: 'heterogeneous'
